@media screen and (max-width: 575px) {
    .footer {
        background: #FBD062;
        padding: 10px;
        margin-top: 20px;
    }
  }

  @media screen and (max-width: 767px) and (min-width: 576px)  {
    .footer {
        background: #FBD062;
        padding: 70px;
        margin-top: 60px;
    }
  }
  @media screen and (max-width: 991px) and (min-width: 768px){
    .footer {
        background: #FBD062;
        padding: 70px;
        margin-top: 60px;
    }
  }
  @media screen and (min-width: 992px){
    .footer {
        background: #FBD062;
        padding-top: 160px;
    }
  }

.contact-footer{
  background: #FBD062;
}