.card-content:hover{
    background-color: #FFFFFF;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    cursor: pointer;
}
.card-content a:hover{
    text-decoration: none;
}

@media screen and (min-width: 250px) {
    .service {
      font-size: 25px;
    }
  }
  
  @media screen and (min-width: 576px) {
    .service {
      font-size: 35px;
    }
  }
  @media screen and (min-width: 250px) {
    .service-data {
      margin: 0;
    }
  }
  @media screen and (min-width: 576px) {
    .service-data {
      margin-top: 100px;
    }
  }
  @media screen and (max-width: 600px) {
    div.example {
      font-size: 30px;
    }
  }